@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
.body-bg{
    background-color: #F8FAFC;
}
.card-bg{
    background-color: #ffffff;
}
body{
    font-family: "Geist", sans-serif;
}
.active_btn{
    background-color: #4A00FF;
    color: #fff;
}
.modal_card{
    animation: modalin linear forwards .2s;
}
.close{
    animation: close linear forwards .2s;
}
@keyframes modalin {
    0%{
        top: 45%;
        opacity: .50;
    }100%{
        top: 50%;
        opacity: 1;
    }
}
@keyframes close {
    0%{
        top: 45%;
        opacity: .50;
    }100%{
        top: 55%;
        opacity: 0;
    }
}